<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Complete Suite"
       parallel="classes"
thread-count="4">

    <test name="Complete Tests">

        <!--        <groups>-->
        <!--            <run>-->
        <!--                <include name="smokeTests"/>-->
        <!--                <include-->
        <!--            </run>-->
        <!--        </groups>-->

        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.InventoryTest"/>
            <class name="tests.CartTests"/>
            <class name="tests.CheckoutOneTest"/>
            <class name="tests.CheckoutTwoTest"/>
            <class name="tests.CompleteCheckoutTest"/>
        </classes>

    </test>

</suite>